{
    "experimentalTernaries": true,
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": true,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}
