<nav class="fixed top-0 z-10 w-full bg-crust">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button
                    type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-subtext0 hover:bg-surface0 hover:text-text focus:outline-none focus:ring-2 focus:ring-inset focus:ring-text"
                    aria-controls="mobile-menu"
                    aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <svg
                        class="block h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <svg
                        class="hidden h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center text-xl font-extrabold">pay2live</div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a
                            href="./"
                            class="{{ 'rounded-md bg-surface0 px-3 py-2 font-medium text-text' if current_page == 'home' else 'rounded-md px-3 py-2 font-medium text-subtext0 hover:bg-surface1 hover:text-text' }}"
                            >Home</a
                        >
                        <a
                            href="./about"
                            class="{{ 'rounded-md bg-surface0 px-3 py-2 font-medium text-text' if current_page == 'about' else 'rounded-md px-3 py-2 font-medium text-subtext0 hover:bg-surface1 hover:text-text' }}">
                            About Us</a
                        >
                        <a
                            href="./shop"
                            class="{{ 'rounded-md bg-surface0 px-3 py-2 font-medium text-text' if current_page == 'shop' else 'rounded-md px-3 py-2 font-medium text-subtext0 hover:bg-surface1 hover:text-text' }}"
                            >Shop</a
                        >
                        <a
                            id="nav-appointments"
                            href="./appointments"
                            class="{{ 'hidden' if not user }} {{ 'rounded-md bg-surface0 px-3 py-2 font-medium text-text' if current_page == 'appointments' else 'rounded-md px-3 py-2 font-medium text-subtext0 hover:bg-surface1 hover:text-text' }}"
                            >Appointments</a
                        >
                        <a
                            id="nav-queue"
                            href="./queue"
                            class="{{ 'hidden' if not user }} {{ 'rounded-md bg-surface0 px-3 py-2 font-medium text-text' if current_page == 'queue' else 'rounded-md px-3 py-2 font-medium text-subtext0 hover:bg-surface1 hover:text-text' }}"
                            >Queue</a
                        >
                        <a
                            id="nav-admin"
                            href="./admin"
                            class="{{ 'hidden' if not user or not user.admin }} {{ 'rounded-md bg-surface0 px-3 py-2 font-medium text-text' if current_page == 'admin' else 'rounded-md px-3 py-2 font-medium text-subtext0 hover:bg-surface1 hover:text-text' }}"
                            >Admin</a
                        >
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <a
                    id="login"
                    type="button"
                    href="./login"
                    class="hidden rounded-md px-3 py-2 hover:bg-surface1 hover:text-text {{ 'sm:flex' if not user else 'sm:hidden' }} sm:items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-1 size-5">
                        <path
                            fill-rule="evenodd"
                            d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
                            clip-rule="evenodd" />
                    </svg>
                    Login
                </a>
                <a
                    id="profile"
                    type="button"
                    href="./profile"
                    class="hidden rounded-md px-3 py-2 hover:bg-surface1 hover:text-text {{ 'sm:hidden' if not user else 'sm:flex' }} sm:items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-1 size-5">
                        <path
                            fill-rule="evenodd"
                            d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                            clip-rule="evenodd" />
                    </svg>
                    My Profile
                </a>
                <a
                    id="logout"
                    type="button"
                    href="/logout"
                    class="mr-1.5 hidden cursor-pointer rounded-md px-3 py-2 hover:bg-surface1 hover:text-text {{ 'sm:hidden' if not user else 'sm:flex' }} sm:items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-1 size-5">
                        <path
                            fill-rule="evenodd"
                            d="M16.5 3.75a1.5 1.5 0 0 1 1.5 1.5v13.5a1.5 1.5 0 0 1-1.5 1.5h-6a1.5 1.5 0 0 1-1.5-1.5V15a.75.75 0 0 0-1.5 0v3.75a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5.25a3 3 0 0 0-3-3h-6a3 3 0 0 0-3 3V9A.75.75 0 1 0 9 9V5.25a1.5 1.5 0 0 1 1.5-1.5h6ZM5.78 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06l-1.72-1.72H15a.75.75 0 0 0 0-1.5H4.06l1.72-1.72a.75.75 0 0 0 0-1.06Z"
                            clip-rule="evenodd" />
                    </svg>
                    Logout
                </a>
                <button
                    id="theme-toggle"
                    type="button"
                    class="relative rounded-full bg-crust p-1 text-subtext0 hover:text-text focus:outline-none">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Toggle light/dark theme</span>
                    <svg
                        id="light-theme"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="hidden size-6"
                        aria-hidden="true">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                    </svg>
                    <svg
                        id="dark-theme"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="hidden size-6"
                        aria-hidden="true">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="hidden sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <a
                href="./"
                class="{{ 'block rounded-md bg-surface0 px-3 py-2 text-base font-medium text-text' if current_page == 'home' else 'block rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text'}}"
                >Home</a
            >
            <a
                href="./about"
                class="{{ 'block rounded-md bg-surface0 px-3 py-2 text-base font-medium text-text' if current_page == 'about' else 'block rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text'}}">
                About Us</a
            >
            <a
                href="./portfolio"
                class="{{ 'block rounded-md bg-surface0 px-3 py-2 text-base font-medium text-text' if current_page == 'shop' else 'block rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text'}}"
                >Shop</a
            >
            <a
                id="nav-appointments-mobile"
                href="./appointments"
                class="{{ 'hidden' if not user else 'block' }} {{ 'rounded-md bg-surface0 px-3 py-2 text-base font-medium text-text' if current_page == 'appointments' else 'rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text'}}"
                >Appointments</a
            >
            <a
                id="nav-queue-mobile"
                href="./queue"
                class="{{ 'hidden' if not user else 'block' }} {{ 'rounded-md bg-surface0 px-3 py-2 text-base font-medium text-text' if current_page == 'queue' else 'rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text'}}"
                >Queue</a
            >
            <a
                id="nav-admin-mobile"
                href="./admin"
                class="{{ 'hidden' if not user or not user.admin else 'block' }} {{ 'rounded-md bg-surface0 px-3 py-2 text-base font-medium text-text' if current_page == 'admin' else 'rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text'}}"
                >Admin</a
            >
            <a
                id="login-mobile"
                type="button"
                href="./login"
                class="{{ 'flex' if not user else 'hidden' }} items-center rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-1 size-5">
                    <path
                        fill-rule="evenodd"
                        d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
                        clip-rule="evenodd" />
                </svg>
                Login
            </a>
            <a
                id="profile-mobile"
                type="button"
                href="./profile"
                class="{{ 'hidden' if not user else 'flex' }} items-center rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-1 size-5">
                    <path
                        fill-rule="evenodd"
                        d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                        clip-rule="evenodd" />
                </svg>
                My Profile
            </a>
            <a
                id="logout-mobile"
                type="button"
                href="/logout"
                class="{{ 'hidden' if not user else 'flex' }} cursor-pointer items-center rounded-md px-3 py-2 text-base font-medium text-subtext0 hover:bg-surface1 hover:text-text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-1 size-5">
                    <path
                        fill-rule="evenodd"
                        d="M16.5 3.75a1.5 1.5 0 0 1 1.5 1.5v13.5a1.5 1.5 0 0 1-1.5 1.5h-6a1.5 1.5 0 0 1-1.5-1.5V15a.75.75 0 0 0-1.5 0v3.75a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5.25a3 3 0 0 0-3-3h-6a3 3 0 0 0-3 3V9A.75.75 0 1 0 9 9V5.25a1.5 1.5 0 0 1 1.5-1.5h6ZM5.78 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06l-1.72-1.72H15a.75.75 0 0 0 0-1.5H4.06l1.72-1.72a.75.75 0 0 0 0-1.06Z"
                        clip-rule="evenodd" />
                </svg>
                Logout
            </a>
        </div>
    </div>
</nav>
