<!doctype html>
<html lang="en">
    <head>
        {% block head %} {% include 'includes/head.html' %} {% endblock %}
    </head>

    <body class="bg-base text-text">
        {% block navbar %} {% include 'includes/navbar.html' %} {% endblock %}

        <main class="px-12 py-32 md:px-24 lg:px-48">
            <section id="about-us" class="mb-24 text-center">
                <h1 class="mb-10 text-4xl font-bold">About Us</h1>
                <p class="mx-auto max-w-3xl text-lg leading-relaxed">
                    Welcome to pay2live, where innovation meets simplicity in the world of secure online transactions.
                    Our mission is to provide individuals and businesses with seamless and intuitive payment solutions
                    that make life easier. We are dedicated to enhancing your financial experience with cutting-edge
                    technology, unparalleled security, and user-friendly interfaces.
                </p>
            </section>
            <section id="mission" class="py-24">
                <h2 class="mb-10 text-center text-3xl font-semibold">Our Mission</h2>
                <p class="mx-auto max-w-3xl text-center text-lg leading-relaxed">
                    At pay2live, we aim to revolutionize the payment industry by empowering our users with the tools and
                    confidence to manage their finances effortlessly. From fast transactions to robust security, we are
                    here to make every payment journey smooth, secure, and stress-free.
                </p>
            </section>
            <section id="values" class="py-24">
                <h2 class="mb-10 text-center text-3xl font-semibold">Our Core Values</h2>
                <div class="mx-auto grid max-w-5xl grid-cols-1 gap-16 md:grid-cols-3">
                    <div class="rounded-lg bg-surface0 p-10 text-center shadow-md">
                        <h3 class="mb-6 text-xl font-semibold">Innovation</h3>
                        <p class="leading-relaxed">
                            We embrace creativity and technological advancements to deliver modern payment solutions.
                        </p>
                    </div>
                    <div class="rounded-lg bg-surface0 p-10 text-center shadow-md">
                        <h3 class="mb-6 text-xl font-semibold">Integrity</h3>
                        <p class="leading-relaxed">
                            Trust and transparency form the foundation of our relationships with our users.
                        </p>
                    </div>
                    <div class="rounded-lg bg-surface0 p-10 text-center shadow-md">
                        <h3 class="mb-6 text-xl font-semibold">User-Centric</h3>
                        <p class="leading-relaxed">
                            Our users' satisfaction drives our decisions and inspires continuous improvement.
                        </p>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
