<!doctype html>
<html lang="en">
    <head>
        {% block head %} {% include 'includes/head.html' %} {% endblock %}
    </head>

    <body class="bg-base text-text">
        {% block navbar %} {% include 'includes/navbar.html' %} {% endblock %}

        <main class="px-12 md:px-24 lg:px-48 py-32">
            <section id="about-us" class="text-center mb-24">
                <h1 class="text-4xl font-bold mb-10">About Us</h1>
                <p class="text-lg leading-relaxed max-w-3xl mx-auto mb-12">
                    Welcome to Pay2Live, where innovation meets simplicity in the world of secure online transactions.
                    Our mission is to provide individuals and businesses with seamless and intuitive payment solutions
                    that make life easier. We are dedicated to enhancing your financial experience with cutting-edge
                    technology, unparalleled security, and user-friendly interfaces.
                </p>
            </section>

            <section id="mission" class="py-24 mb-24">
                <h2 class="text-3xl font-semibold mb-10 text-center">Our Mission</h2>
                <p class="text-lg leading-relaxed max-w-3xl mx-auto text-center">
                    At Pay2Live, we aim to revolutionize the payment industry by empowering our users with the tools
                    and confidence to manage their finances effortlessly. From fast transactions to robust security,
                    we are here to make every payment journey smooth, secure, and stress-free.
                </p>
            </section>

            <section id="values" class="py-24">
                <h2 class="text-3xl font-semibold mb-10 text-center">Our Core Values</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-16 max-w-5xl mx-auto">
                    <div class="p-10 shadow-md rounded-lg text-center">
                        <h3 class="text-xl font-semibold mb-6">Innovation</h3>
                        <p class="leading-relaxed">
                            We embrace creativity and technological advancements to deliver modern payment solutions.
                        </p>
                    </div>
                    <div class="p-10 shadow-md rounded-lg text-center">
                        <h3 class="text-xl font-semibold mb-6">Integrity</h3>
                        <p class="leading-relaxed">
                            Trust and transparency form the foundation of our relationships with our users.
                        </p>
                    </div>
                    <div class="p-10 shadow-md rounded-lg text-center">
                        <h3 class="text-xl font-semibold mb-6">User-Centric</h3>
                        <p class="leading-relaxed">
                            Our users' satisfaction drives our decisions and inspires continuous improvement.
                        </p>
                    </div>      
                </div>
            </section>
        </main>

        <footer class="py-12 text-center">
            <p>&copy; 2025 Pay2Live. All Rights Reserved.</p>
        </footer>
    </body>
</html>
