<!doctype html>
<html lang="en">
    <head>
        {% block head %} {% include 'includes/head.html' %} {% endblock %}
        <script src="./static/js/login.js"></script>
    </head>

    <body class="h-full bg-base text-text">
        {% block navbar %} {% include 'includes/navbar.html' %} {% endblock %}
        <div class="mt-16 flex h-[calc(100vh-64px)] w-full items-center justify-center">
            <div class="m-auto rounded-md bg-surface0 p-0.5 drop-shadow-lg">
                <h1 class="mx-4 mt-4 text-2xl font-bold text-text">Login</h1>
                <p class="mx-4 pb-3.5 text-subtext0">Enter your phone number to log in.</p>
                <div class="relative">
                    <input
                        id="phone"
                        type="tel"
                        pattern="[0-9]{8}"
                        title="Phone number should be 8 numerical characters (no country code)"
                        class="peer mx-4 mb-4 block w-80 rounded-md bg-surface1 px-4 pb-2 pt-6 text-text"
                        placeholder=" " />
                    <label
                        for="phone"
                        class="absolute left-4 top-4 mx-4 origin-[0] -translate-y-3 scale-75 cursor-text text-subtext1 duration-150 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75">
                        Phone Number</label
                    >
                </div>
                <div class="relative hidden" id="otp-div">
                    <input
                        id="otp"
                        type="number"
                        pattern="[0-9]{6}"
                        title="OTP should be 6 digits"
                        class="peer mx-4 mb-4 block w-80 rounded-md bg-surface1 px-4 pb-2 pt-6 text-text [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                        placeholder=" " />
                    <label
                        for="otp"
                        class="absolute left-4 top-4 mx-4 origin-[0] -translate-y-3 scale-75 cursor-text text-subtext1 duration-150 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75">
                        OTP</label
                    >
                </div>
                <button
                    id="login-button"
                    type="button"
                    onclick="login()"
                    class="mx-4 mb-4 w-80 rounded-md bg-mauve px-4 py-2 font-medium text-crust transition-opacity hover:opacity-80">
                    Login
                </button>
                <div id="message-box" class="mx-4 mb-4 hidden w-80 rounded-md px-4 py-2">
                    <p class="font-medium text-crust" id="message-content">{{ message }}</p>
                </div>
            </div>
        </div>
    </body>
</html>
