<!doctype html>
<html lang="en">
    <head>
        {% block head %} {% include 'includes/head.html' %} {% endblock %}
        <script src="/static/js/queue.js"></script>
    </head>

    <body class="bg-base text-text">
        {% block navbar %} {% include 'includes/navbar.html' %} {% endblock %}
        <div class="mt-16 flex h-[calc(100vh-64px)] w-full items-center justify-center">
            <div class="w-full max-w-md rounded-lg bg-surface0 p-8 shadow-md">
                <h1 class="mb-4 text-center text-3xl font-bold text-text">Queue System</h1>

                <div class="mb-6 text-center">
                    <p class="mb-2 text-lg font-semibold text-subtext1">{{ waiting or '0' }} patients in queue</p>
                    {% if current_queue_numbers %}
                    <p class="mb-2 text-lg text-subtext1">Currently Serving:</p>
                    {% endif %}
                    <table id="missedNumbers" class="w-full border-collapse text-center">
                        {% for row in current_queue_numbers %}
                        <tr>
                            {% for cell in row %}
                            <td class="pb-3">
                                <div class="text-5xl font-bold text-blue">
                                    {{ abbreviations[cell.service] or '' }}{{ (cell.number|string()).rjust(3, "0") if
                                    cell.number else 'None' }}
                                </div>
                                <div class="text-2xl font-semibold text-blue">Room {{ cell.room or 'None' }}</div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="-mt-3 mb-4">
                    <select id="get-service" name="service" required class="w-full rounded-md bg-surface1 px-3 py-2">
                        <option value="">Select a service</option>
                        {% for service in services %}
                        <option value="{{ service.id }}">{{ service.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="flex flex-row">
                    <button
                        id="getNumber"
                        class="mr-1 w-1/2 transform rounded bg-blue px-4 py-3 font-bold text-crust transition duration-300 ease-in-out hover:bg-lavender">
                        Get Queue Number
                    </button>
                    <button
                        id="reload"
                        class="ml-1 w-1/2 transform rounded bg-mauve px-4 py-3 font-bold text-crust transition duration-300 ease-in-out hover:bg-pink">
                        Refresh
                    </button>
                </div>

                <div id="message-box" class="mb-4 mt-4 hidden w-full rounded-md px-4 py-2">
                    <p class="font-medium text-crust" id="message-content">{{ message }}</p>
                </div>

                {% if missed_queue_numbers %}
                <div class="mb-2 mt-8 text-center">
                    <p class="mb-2 text-lg text-subtext1">Missed Queue Numbers:</p>
                    <table id="missedNumbers" class="w-full border-collapse text-center">
                        {% for row in missed_queue_numbers %}
                        <tr>
                            {% for cell in row %}
                            <td class="px-2 text-3xl font-bold text-red">
                                {{ abbreviations[cell.service] or '' }}{{ (cell.number|string()).rjust(3, "0") if
                                cell.number else 'None' }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
